@import "../css/mixin";
@import "../css/var";
.predict {
  @include Flex($dir:row);
    
    border-radius: $radius;
    color:$white;
    font-family: $font-family;
    background-image: linear-gradient(to right ,rgba(255, 238, 0, 0.205) 70%,rgba(9, 131, 9, 0.664) 30%);
    position: relative;
    overflow:hidden;
    
    .content{
        color:rgb(117, 116, 116);
        color:$navbar;
        z-index: 1;
        h1,h4{
            font-size:8rem;
            // font-family: 'Dancing Script', cursive;
            font-family: 'Lobster', cursive;
        }
        @media screen and (max-width:576px) {
            h1{
                font-size:1rem;
            }
        }
        h4{
            font-size:2rem;
            @media screen and (max-width:576px) {
                font-size:1.3rem;
            }
        }
    }
    img{
        // position: absolute;
        width: 720px;
        border-radius: 30px;
    }
    .AiImg{
      // width: 100%;
      // height: 100%;
      .ai{
        // bottom: 0;
        // right: 2%;
        object-fit: cover;
        
      }
    }
    
    
    @media screen and (min-width:1200px) and (max-width:1330px) {
        
        .ai{
            bottom: 0%;
            right: 2%;
            
        }
        
    }
    @media screen and (min-width:992px) and (max-width:1200px) {
        
        .ai{
            bottom: 0%;
            right: 2%;
            
        }
        
    }
    @media screen and (min-width:768px) and (max-width:991px) {
        
        .ai{
            bottom: 0%;
            right: 2%;
            
        }
        
        .content{
            h1{
                font-size:4rem;
            }
           
        }
    }
    @media screen and (min-width:576px) and (max-width:767px) {

               
        .ai{
            display: none;
            
        }
        .content{
            h1{
                font-size:4rem;
            }
           
        }
    }
    @media screen and  (max-width:578px) {
               
        .ai{
            display: none;
            
        }
        .content{
            h1{
                font-size:4rem;
            }
           
        }
    }
  .formContainer {
    .formInput {
      background: $white;
      .form {
        div {
          input {
            
          }
        }
        .btns{
            .checkBtn{

                background-color: green;
            }
            .resetBtn{
                background-color: red;
            }
        }
      }
    }
  }
}
